body {
	margin: 0px;
	padding: 0px;
}

p {
	padding: 0px;
	margin-right: 2px;
	margin-left: 2px;
}

.Workspace {
	color: white;
	background-color: rebeccapurple;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	min-height: 100vh;
}

.Node {
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	background-color: black;
	line-height: 0px;
	padding: 2px;
	flex: 20px;
}

.Container {
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
	width: auto;
	height: auto;
}

.Stack {
	display: flex;
	/* flex-wrap: wrap; */
}

.Grid {
	display: grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	/* grid-auto-rows: minmax(20px, auto); */
	grid-template-rows: 1fr auto;
	/* gap: 20px; */
}
